[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][4][Configuration]
PreloadWeight=100

[Containments][1][Applets][4][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop
favoritesPortedToKAstats=true
icon=distributor-logo-archlinux
menuItems=bookmark:t,application:t,computer:t,used:t,leave:t,oftenUsed:f

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
PreloadWeight=55
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=10

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:systemsettings.desktop,applications:termite.desktop,applications:chromium.desktop,applications:spotify.desktop,applications:slack.desktop

[Containments][1][Applets][67]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][1][Applets][69]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][1][Applets][69][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][70]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][1][Applets][70][Configuration][Appearance]
fixedFont=true
fontSize=14

[Containments][1][Applets][70][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][ConfigDialog]
DialogHeight=967
DialogWidth=509

[Containments][1][Configuration]
PreloadWeight=10

[Containments][1][General]
advanced=false
appletOrder=4;69;57;71;5;70
autoDecreaseIconSize=false
iconMargin=0
iconSize=32
inConfigureAppletsMode=true
lengthExtMargin=5
maxLength=90
panelPosition=10
panelSize=100
panelTransparency=40
shadowOpacity=35
shadowSize=45
showGlow=false
shrinkThickMargins=true
splitterPosition=2
splitterPosition2=4
thickMargin=5
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][6]
PreloadWeight=10
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][10][Configuration]
PreloadWeight=10

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][11][Configuration]
PreloadWeight=10

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][13][Configuration]
PreloadWeight=10

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][16][Configuration]
PreloadWeight=20

[Containments][6][Applets][58]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][6][Applets][58][Configuration]
PreloadWeight=10

[Containments][6][Applets][59]
immutability=1
plugin=org.kde.plasma.vault

[Containments][6][Applets][59][Configuration]
PreloadWeight=2

[Containments][6][Applets][60]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][60][Configuration]
PreloadWeight=36

[Containments][6][Applets][61]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][6][Applets][62]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][6][Applets][9][Configuration]
PreloadWeight=15

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol
knownItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol

[LayoutSettings]
activities=
background=
color=lightskyblue
globalLaunchers=
lastUsedActivity=
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=fcfcfc
version=2
