configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  font: "Hack 12";
  columns: 2;
}
@import "/home/theodor/.local/share/rofi/themes/onedark.rasi"
//@theme "/home/theodor/.local/share/rofi/themes/onedark.rasi"
@theme "/home/theodor/.local/share/rofi/themes/onedark.rasi"
