configuration {
  show-icons:         true;
  icon-theme:         "Paper";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  font: "Open Sans 14";
  columns: 2;
}
@import "/usr/share/rofi/themes/gruvbox-dark.rasi"
